.image{background-size: 100%;
}
.button{padding-left: 108px;
padding-right: 109px;
background-color: #E8D698;
font-family: Western Bang Bang;
font-size: 35px;
border: 2px solid #000;
}
h3{
	text-align: center;
	font-family: Arial;
}
h4{
	text-align: center;
	font-family: Arial;
}